# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so

# VS Code
.vscode/

# Jupyter Notebook Checkpoints
*.ipynb_checkpoints/

# Virtual Environments
.venv/
env/
ENV/
venv/
*.env

# OS
.DS_Store
Thumbs.db
